<div class="main-info">
  <span class="title">Consommation moyenne</span>
  <div>
    <span class="large">{{getConsoAverage() | round: 2}}</span><span class="medium"> litres/100Km</span>
  </div>
  <span class="trend warning">+8.5%</span>
</div>

<chart [options]="options" (load)="setChart($event.context)"></chart>

<md-list>
  <md-list-item>
    <h4 class="title" md-line>Kilomètrage</h4>
    <p class="list-item" md-line>{{car.mileage | round:2}}Km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Type de carburant</h4>
    <p class="list-item text-capitalize" md-line>{{'fuel.' + car.fuel.label | translate}}</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Consommation théorique mixte</h4>
    <p class="list-item" md-line>8.09l/100km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2</h4>
    <p class="list-item" md-line>195.16gCO2/Km - Classe E</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2 théorique</h4>
    <p class="list-item" md-line>195.16gCO2/Km - Classe E</p>
  </md-list-item>
</md-list>

