<div class="main-info">
  <span class="title">Consommation moyenne</span>
  <div>
    <span class="large">{{getConsoAverage() | round: 2}}</span><span class="medium"> litres/100Km</span>
  </div>
  <span class="trend" [class.warning]="getDiffConsoPercent() > 0" [class.success]="getDiffConsoPercent() <= 0">
    {{getDiffConsoPercent() > 0 ? '+': ''}}{{getDiffConsoPercent() | round: 1}}%
  </span>
</div>

<chart [options]="options" (load)="setChart($event.context)"></chart>

<md-list>
  <md-list-item>
    <h4 class="title" md-line>Kilomètrage</h4>
    <p class="list-item" md-line>{{car.mileage | round:2}}Km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Type de carburant</h4>
    <p class="list-item text-capitalize" md-line>{{'fuel.' + car.fuel.label | translate}}</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Consommation théorique mixte</h4>
    <p class="list-item" md-line>{{car.consoTheorical | round:2}}l/100km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2</h4>
    <p class="list-item" md-line>{{getConsoAverage() * car.fuel.CO2PerLiter / 100 | round: 2}}gCO2/Km - Classe {{getEnergyGrade(getConsoAverage() * car.fuel.CO2PerLiter / 100)}}</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2 théorique</h4>
    <p class="list-item" md-line>{{car.CO2Theorical | round: 2}}gCO2/Km - Classe {{getEnergyGrade(car.CO2Theorical)}}</p>
  </md-list-item>
</md-list>

