<md-list>
  <div *ngFor="let conso of consos">
    <md-list-item>
      <h4 class="title" md-line>Le {{conso.date | amFromUnix | amDateFormat: 'DD/MM/YYYY'}}</h4>
      <p class="list-item" md-line>Quantité : {{conso.volume | round: 2}}Litres</p>
      <p class="list-item" md-line>Distance : {{conso.mileage | round: 2}}Km</p>
      <p class="list-item" md-line>Consommation : {{conso.volume / conso.mileage * 100 | round: 2}}l/100Km</p>
      <p class="list-item" md-line>Prix : {{conso.price * conso.volume | round: 2}}€ ({{conso.price | round: 2}}€/Litres)</p>
    </md-list-item>
    <md-divider></md-divider>
  </div>
</md-list>

