<md-list>
  <md-list-item>
    <h4 class="title" md-line>Kilomètrage</h4>
    <p class="list-item" md-line>156423.4Km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Type de carburant</h4>
    <p class="list-item" md-line>Essence</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Consommation théorique mixte</h4>
    <p class="list-item" md-line>8.09l/100km</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2</h4>
    <p class="list-item" md-line>195.16gCO2/Km - Classe E</p>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item>
    <h4 class="title" md-line>Rejet de CO2 théorique</h4>
    <p class="list-item" md-line>195.16gCO2/Km - Classe E</p>
  </md-list-item>
</md-list>

