<md-toolbar color="primary">

  <button md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
  <span class="example-spacer"></span>
  <span>ConsoBox</span>

</md-toolbar>

<md-sidenav-container>
  <md-sidenav mode="side" opened="false" #sidenav>Drawer content</md-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>

<md-menu #appMenu="mdMenu">
  <button md-menu-item (click)="sidenav.toggle()"> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>

<!--app-car-fab></app-car-fab-->
<app-inbox-floating-button [position]="'br'" [effect]="'slidein-spring'" [method]="'click'" [activeIcon]="'clear'" [restingIcon]="'add'">
  <app-inbox-floating-button-item [label]="'test'" [icon]="'add'" class="floating-child"></app-inbox-floating-button-item>
  <app-inbox-floating-button-item [label]="'test'" [icon]="'add'" class="floating-child"></app-inbox-floating-button-item>
  <app-inbox-floating-button-item [label]="'test'" [icon]="'add'" class="floating-child"></app-inbox-floating-button-item>
</app-inbox-floating-button>jai encore rien
