<div class="main-info">
  <span class="title">Prochaine révision</span>
  <div>
    <span class="large">{{criticalReview?.reviewType.name}}</span>
  </div>
  <span class="trend great">dans {{getReviewShortestDeadline(criticalReview)}}</span>
</div>

<md-list>
  <md-divider></md-divider>
  <div class="add-rev" (click)="addReview()">
    <md-icon>add</md-icon><h3 md-subheader [routerLink]="['addReview']">Ajouter un type de révision</h3>
  </div>
  <div *ngFor="let category of reviewCategories">
    <md-divider></md-divider>
    <h3 md-subheader>{{category.name}}</h3>
    <div class="circle-container">
      <div *ngFor="let review of reviewsMap.get(category)" class="item" [mdMenuTriggerFor]="menu">
        <!-- http://www.cssscript.com/demo/pure-css-circular-percentage-bar/ -->
        <span class="circle-info">{{getReviewType(category, review).name}}</span>
        <div [class]="'c100 p' + getReviewShortestDeadlinePercent(review) + ' ' + getReviewColor(review)">
          <span class="icon">
            <md-icon md-list-icon>{{category.icon}}</md-icon>

          </span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
        <span class="circle-info">{{getReviewShortestDeadline(review)}}</span>
        <md-menu #menu="mdMenu">
          <button md-menu-item [routerLink]="['reviewDetails', review.id]">
            <md-icon>dialpad</md-icon>
            <span>Modifier la révision</span>
          </button>
          <button md-menu-item (click)="performReview(review, getReviewType(category, review))">
            <md-icon>voicemail</md-icon>
            <span>Effectuer la révision</span>
          </button>
        </md-menu>
      </div>
    </div>
    <!--md-list-item *ngFor="let review of reviewsMap.get(category)">
      <md-icon md-list-icon>{{category.icon}}</md-icon>
      <h4 md-line>{{getReviewType(category, review).name}}</h4>
      <p md-line>Tous les {{review.mileage}}km ou les {{review.interval}}mois </p>
    </md-list-item-->
  </div>
</md-list>
