/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/styles/circle.css';

@media screen and (min-width: 1024px) {
  body {
    padding: 2em 23em;
  }
}

body {
  background:lightgray;
}

* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}


.mat-list .mat-list-item .mat-list-text h4.title {
  color: gray;
  font-size: 0.8em;
  margin-bottom: 5px;
}
